/Dockerfile
/docker-compose.yml
/node_modules
/.git
/README.md
/LICENSE.md
/.gitignore
/.git
/.babelrc
/.dockerignore
/test
/.travis.yml
/devServer.js
/Makefile
/webpack.*.js
/npm-debug.log
/config
/build
